* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;

  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3rem;
  color: rgb(255 255 255/0.8);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
}

.subject {
  width: 240px;
  height: 150px;
  background-color: aquamarine;
  color: black;
  margin: 1em;
  border-radius: 8px;
}
